<!-- templates/partials/sidebar.html -->

{% with current=request.resolver_match.url_name %}
<div class="sidebar" id="sidebar">

    <div class="sidebar-header">

        <div class="sidebar-logo">
            <i class="fa-solid fa-book-medical"></i>
            <span> e-Careda</span>
        </div>

        <button class="toggle-btn" id="toggleSidebar">
            <i class="fa-solid fa-bars"></i>
        </button>

    </div>


    <!-- ================= SYSTEM ================= -->

    <div class="menu-title" data-bs-toggle="collapse" data-bs-target="#menuSystem">
        System
        <i class="fa fa-chevron-down float-end"></i>
    </div>

    <div class="collapse
            {% if current in 'countries-list organizations-list branches-list centers-list site-list project_list' %}
            show
            {% endif %}" id="menuSystem">

        <a href="{% url 'countries:countries-list' %}" class="{% if current == 'countries-list' %}active{% endif %}">
            <i class="fa-solid fa-globe"></i>
            <span>Countries</span>
        </a>

        <a href="{% url 'organizations:organizations-list' %}"
            class="{% if current == 'organizations-list' %}active{% endif %}">
            <i class="fa-solid fa-building"></i>
            <span>Organisations</span>
        </a>

        <a href="{% url 'branches:branches-list' %}" class="{% if current == 'branches-list' %}active{% endif %}">
            <i class="fa-solid fa-code-branch"></i>
            <span>Branches</span>
        </a>

        <a href="{% url 'centers:centers-list' %}" class="{% if current == 'centers-list' %}active{% endif %}">
            <i class="fa-solid fa-hospital"></i>
            <span>Centers</span>
        </a>

        <a href="{% url 'sites:site-list' %}" class="{% if current == 'site-list' %}active{% endif %}">
            <i class="fa-solid fa-location-dot"></i>
            <span>Sites</span>
        </a>

        <a href="{% url 'projects:project_list' %}" class="{% if current == 'project_list' %}active{% endif %}">
            <i class="fa-solid fa-flask"></i>
            <span>Projects</span>
        </a>

    </div>


    <!-- ================= DATA COLLECTION ================= -->

    <div class="menu-title" data-bs-toggle="collapse" data-bs-target="#menuData">
        Data Collection
        <i class="fa fa-chevron-down float-end"></i>
    </div>

    <div class="collapse
            {% if current in 'subject_list visit_list form_list' %}
            show
            {% endif %}" id="menuData">

        <a href="{% url 'subjects:subject_list' %}" class="{% if current == 'subject_list' %}active{% endif %}">
            <i class="fa-solid fa-users"></i>
            <span>Subjects</span>
        </a>

        <a href="{% url 'visits:visit_list' %}" class="{% if current == 'visit_list' %}active{% endif %}">
            <i class="fa-solid fa-calendar-check"></i>
            <span>Visits</span>
        </a>

        <a href="{% url 'forms_builder:form_list' %}" class="{% if current == 'form_list' %}active{% endif %}">
            <i class="fa-solid fa-file-lines"></i>
            <span>Forms</span>
        </a>

    </div>


    <!-- ================= STUDY ================= -->

    <div class="menu-title" data-bs-toggle="collapse" data-bs-target="#menuStudy">
        Study
        <i class="fa fa-chevron-down float-end"></i>
    </div>

    <div class="collapse
            {% if current == 'dashboard' %}
            show
            {% endif %}" id="menuStudy">
        <a href="{% url 'dashboard:dashboard' %}" class="{% if current == 'dashboard' %}active{% endif %}">
            <i class="fa-solid fa-chart-line"></i>
            <span>Dashboard</span>
        </a>

        <a href="#">
            <i class="fa-solid fa-chart-column"></i>
            <span>Reports</span>
        </a>

        <a href="#">
            <i class="fa-solid fa-chart-pie"></i>
            <span>Monitoring</span>
        </a>

    </div>


    <!-- ================= ADMIN ================= -->

    {% if user.is_superuser %}

    <div class="menu-title" data-bs-toggle="collapse" data-bs-target="#menuAdmin">
        Administration
        <i class="fa fa-chevron-down float-end"></i>
    </div>

    <div class="collapse
            {% if current in 'admin-index' %}
            show
            {% endif %}" id="menuAdmin">

        <a href="{% url 'admin:index' %}" class="{% if current == 'admin-index' %}active{% endif %}">
            <i class="fa-solid fa-gear"></i>
            <span>Admin Panel</span>
        </a>

    </div>

    {% endif %}

</div>
{% endwith %}