{% extends "base.html" %}

{% block title %}
Visits
{% endblock %}

{% block content %}

<div class="container mt-4 position-relative">

    <!-- Back Button -->
    <div class="position-absolute top-0 end-0">
        <a href="{% url 'subjects:subject_detail' visit.subject.pk %}" class="btn btn-outline-secondary">
            ← Back to Subject Details
        </a>
    </div>

    <h2>
        Subject {{ visit.subject.subject_id }} —
        Visit {{ visit.visit_number }}
    </h2>

    <div class="card shadow-sm mt-3">

        <div class="card-header">
            <strong>Forms</strong>
        </div>

        <div class="card-body">

            {% if forms %}

            <table class="table table-bordered">

                <thead>
                    <tr>
                        <th>Form</th>
                        <th>Status</th>
                        <th width="120">Action</th>
                    </tr>
                </thead>

                <tbody>

                    {% for response in forms %}

                    <tr>

                        <td>{{ response.form.name }}</td>

                        <td>
                            {% if response.is_completed %}
                            <span class="badge bg-success">Completed</span>
                            {% else %}
                            <span class="badge bg-warning">Pending</span>
                            {% endif %}


                        </td>

                        <td>

                            <a href="{% url 'forms_builder:form_entry' response.pk %}" class="btn btn-sm btn-primary">
                                Open
                            </a>

                        <!-- </td>

                        <td> -->
                            <span class="badge bg-{{ visit.status_badge }}">
                                {{ visit.get_status_display }}
                            </span>
                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

            {% else %}

            <div class="text-muted">
                No forms assigned to this visit.
            </div>

            {% endif %}

        </div>

    </div>

</div>

{% endblock %}