<!-- projects_list.html -->
{% extends "base.html" %}

{% block content %}
<h1>Organizations List ({{ organizations | length }})</h1>
<ul>
    {% for organization in organizations %}
    <li>{{ forloop.counter }}. 
        <a href="{% url 'organizations:organization-detail' organization.pk %}">
            {{ organization.name }} - Code : {{ organization.code }} - Created on {{ organization.created_at }}
        </a>
    </li>    
    {% empty %}
    <li>No organizations found.</li>
    {% endfor %}
</ul>
{% endblock %}