{% extends "base.html" %}

{% block title %}
Country Form
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

<h4 class="mb-0">

    <i class="fa-solid fa-globe me-2 text-primary"></i>

    {% if object %}
        Edit Country
    {% else %}
        Add Country
    {% endif %}

</h4>

</div>

<div class="card shadow-sm">

<div class="card-body">

{% include "components/form_layout.html" with cancel_url=cancel_url %}

</div>

</div>

{% endblock %}
