{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>e-Careda |
        {% block title %}
        {% endblock %}
    </title>

    {% include 'partials/header.html' %}

</head>

<body>

    <div class="container-fluid">
        <div class="row">

            <!-- MAIN CONTENT -->
            <div class="col-md-10 p-4">

                <div class="main-content">

                    {% block content %}
                    {% endblock %}

                </div>

            </div>

        </div>
    </div>

</body>

</html>