/* static/css/styles.css */

/* ===============================
FORMS
=============================== */

.form-label{
margin-bottom:6px;
font-weight:500;
}

.form-check{
margin-bottom:6px;
}

textarea.form-control{
resize:vertical;
}

/* ===============================
CARDS
=============================== */

.card{
border:none;
box-shadow:0 2px 6px rgba(0,0,0,0.05);
}

/* ===============================
BUTTONS
=============================== */

.btn-primary{
background:#2563eb;
border-color:#2563eb;
}

.btn-primary:hover{
background:#1d4ed8;
border-color:#1d4ed8;
}